.sender-info-wrap{
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 4px;
    // padding: 20px;
    padding-bottom: 2px;
    border: 1px solid #e8e8e8;
    .sender-info-top-title{
        font-size: 14px;
        font-weight: 600;
        color: #4c4d57;
        line-height: 32px;
    }
    .sender-info-top-subtitle{
        font-size: 12px;
        color: #bebebe;
        line-height: 32px;
        margin-left: 10px;
        font-weight: 400;
    }
    ::v-deep .el-form-item__label{
        font-size: 12px;
        font-weight: 400;
        color: #61666d;
        line-height: 16px;
        margin-bottom: 2px;
    }
    ::v-deep .el-input__inner{
        border: 1px solid #e8e8e8;
        border-radius: 4px;
        height: 32px;
        line-height: 32px;
        font-size: 12px;
    }
    ::v-deep .el-form .el-form-item {
        margin-bottom: 24px !important;
        .el-form-item__label{
           font-weight: 400;
       }
    }
    .sender-info-top{
        display: flex;
        justify-content: space-between;
        background: #F4F4F4;
        border-bottom: 1px solid #e8e8e8;
        border-radius: 4px 4px 0 0;
        padding: 0 12px;
        .save-address {
            margin-left: auto;
            cursor: pointer;
            line-height: 32px;
            span{
                margin-left: 24px;
                color: #4C4D57;
                font-size: 12px;
                line-height: 20px;
                i{
                    margin-right: 6px;
                    line-height: 20px;
                    font-size: 14px;
                }
            }
            ::v-deep.el-checkbox{
              color: #4C4D57;
              font-size: 12px;
              margin-left: auto;
              .el-checkbox__label{
                  font-size: 12px;
                  color: #4C4D57;
                  padding-left: 6px;
              }
              .el-checkbox__input{
                //   line-height: 32px;
                vertical-align: sub;
                .el-checkbox__inner{
                    width: 16px;
                    height: 16px;
                }
              }
            }
          }
    }
    .sender-info-center{
        margin: 16px;
        margin-bottom: 0;
    }
    .sender-info-bottom{
        border-top: 1px solid #E8E8E8;
        padding: 0 16px;
    }
    .sender-info-bottom_title{
        margin: 8px 0 16px;
    }
    .lockIcon{
        color: #9499A3 !important;
    }
    ::v-deep.el-select{
        width: 100%;
    }
    ::v-deep.el-form-item__content{
        line-height: 32px;
        font-size: 12px;
    }
    ::v-deep.el-input-group__append{
        padding: 0 7px;
        font-size: 12px;
    }
}