.index-tab{
  .title {
    // height: 81px;
    padding: 20px 20px 0;
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    .title_text, .title_other{
      line-height: 30px;
      font-size: 16px;
      color: #4C4D57;
      font-weight: 500;
      margin-bottom: 10px;
    }
    .title_text{
      width: 100%;
    }
    .el-tabs__header{
      margin-bottom: 10px;
    }
  }
  .el-tabs--card > .el-tabs__header .el-tabs__nav {
    border-radius: 15px !important;
  }
  .el-tabs.el-tabs--card
    .el-tabs__header
    .el-tabs__nav-wrap
    .el-tabs__nav-scroll
    .el-tabs__nav
    .el-tabs__item {
    width: 48px !important;
    padding: 0 !important;
    height: 30px !important;
    line-height: 30px !important;
    border-radius: 15px !important;
  }
}