// 登录--1920
.login{
  width: 100%;
  height: 100%;
  background: #2e5dd7;
  display: flex;
  //justify-content: flex-end;
  align-items: center;
  .login-box {
    // width: 416px;
    // height: 482px;
    background: #1F2327;
    border-radius: 8px;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  }
  .form {
    width: 270px;
    height: 35px;
    margin: 73px auto 68px;
    img {
      width: 270px;
      height: 35px;
      -moz-user-select: none; /*火狐*/
      -webkit-user-select: none; /*webkit浏览器*/
      -ms-user-select: none; /*IE10*/
      -khtml-user-select: none; /*早期浏览器*/
      user-select: none;
    }
  }
  .login-form {
    .el-input .el-input__inner:focus:not([disabled])+ .el-input__prefix .prefix-icon {
      transition: .3s;
      color: #E60012 !important;
    }
    .prefix-icon {
      line-height: 40px;
      margin-left: 12px;
    }
    .loginForm-input {
      position: relative;
      width: 320px;
      height: 65px;
      margin: 0 auto;
      .input-icon {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 9;
      }
      .pointer {
        line-height: 40px;
        margin-right: 15px;
      }
    }
    .el-input__inner {
      height: 40px!important;
      line-height: 40px;
      font-size: 14px;
      text-indent: 20px;
    }
    input::-webkit-input-placeholder { /* WebKit browsers */
      font-size:14px;
    }
    .remember {
      width: 320px;
      margin: 0 auto 20px;
      font-weight: 400;
      color: #61666D;
    }
  }
  .loginBtn {
    width: 320px;
    height: 48px;
    color: #29CB97 !important;
    font-size: 24px;
    font-weight: bold;
    background: #FFFFFF;
    border-radius: 8px;
    span {
      display: inline-block;
      margin-bottom: 2px;
    }
  }
  .el-button--default {
    border-color: #29CB97 !important;
  }

  /* Bounce To Right */
  // .jt-bounce-to-right {
  //   display: inline-block;
  //   vertical-align: middle;
  //   -webkit-transform: perspective(1px) translateZ(0);
  //   transform: perspective(1px) translateZ(0);
  //   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  //   position: relative;
  //   -webkit-transition-property: color;
  //   transition-property: color;
  //   -webkit-transition-duration: 0.5s;
  //   transition-duration: 0.5s;
  // }
  // .jt-bounce-to-right:before {
  //   content: "";
  //   position: absolute;
  //   z-index: -1;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   border-radius: 8px;
  //   background: #29CB97;
  //   -webkit-transform: scaleX(0);
  //   transform: scaleX(0);
  //   -webkit-transform-origin: 0 50%;
  //   transform-origin: 0 50%;
  //   -webkit-transition-property: transform;
  //   transition-property: transform;
  //   -webkit-transition-duration: 0.5s;
  //   transition-duration: 0.5s;
  //   -webkit-transition-timing-function: ease-out;
  //   transition-timing-function: ease-out;
  // }
  // .jt-bounce-to-right:hover, .jt-bounce-to-right:focus, .jt-bounce-to-right:active {
  //   color: white !important;
  // }
  // .jt-bounce-to-right:hover:before, .jt-bounce-to-right:focus:before, .jt-bounce-to-right:active:before {
  //   -webkit-transform: scaleX(1);
  //   transform: scaleX(1);
  //   -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  //   transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  // }
}

